ipykernel
dotenv
langchain
langchain-experimental
langchain_ollama
pyvis
langchain-neo4j
neo4j
docling
imagehash
chromadb
langchain_chroma
tqdm
nltk
docker
graphdatascience
langchain_openai
langchain_google_genai
langchain_huggingface